<%- include('./layouts/header.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1"><%= post.title %></h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">Posted by Admin</div>
          <!-- Post categories-->
        </header>
        <!-- Preview image figure-->
        <!-- Post content-->
        <section class="mb-5">
          <p class="fs-5 mb-4"><%= post.content %></p>
        </section>
      </article>
      <!-- Comments section-->
      <section class="mb-5">
        <div class="card bg-light">
          <div class="card-body">
            <!-- Comment form-->
            <h5>Leave comment</h5>
            <form class="mb-4" id="comment-form">
              <input type="hidden" name="post_id" value="<%= post._id %>" />
              <input
                type="text"
                name="username"
                placeholder="Enter your name"
                class="form-control mb-3"
                required
              />
              <textarea  placeholder="Enter your comment" class="form-control" rows="3" name="comment" required></textarea>
              <input type="submit" class="btn btn-primary mt-3" />
            </form>

            <p class="com-status" style="color: green"></p>

            <!-- Comment with nested comments-->
            <!-- Single comment-->
            <% 
            if(post.comments.length >= 0 ){
                post.comments = post.comments.reverse();
                post.comments.forEach(function(comment){ 
            %>
              <div class="d-flex mt-3">
                <div class="flex-shrink-0">
                  <img
                    class="rounded-circle"
                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                    alt="..."
                  />
                </div>
                <div class="ms-3">
                  <div class="fw-bold"><%- comment.username %></div>
                  <%- comment.comment %>
                </div>
              </div>
            <%
          }) 
        }
           %>
          </div>
        </div>
      </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#comment-form").submit(function (event) {
      event.preventDefault();
      let formData = $(this).serialize();
      $.ajax({
        url: "/add-comment",
        type: "POST",
        data: formData,
        success: function (data) {
          $(".com-status").text(data.msg);
          setTimeout(() => {
            $(".com-status").text(" ");
          }, 5000);
        },
      });
    });
  });
</script>

<%- include('./layouts/footer.ejs') %>
